---
layout: bootcamp
root: .
venue: bioinformatics.ca
address: University of British Columbia, Vancouver, BC
country: Canada
humandate: May 12-13, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-05-12
enddate: 2014-05-13
latlng: 49.26508,-123.25378
registration: restricted
instructor: ["Jenny Bryan", "Shaun Jackman", "Andy Leung"]
contact: admin@software-carpentry.org
---
<div class="row-fluid">
  <div class="span5">
    <p><a href="http://bioinformatics.ca"><img src="bioinformatics.ca.png" alt="bioinformatics.ca logo" /></a></p>
  </div>
  <div class="span7">
    <h2>General Information</h2>
    <p>
      <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
      is to help scientists and engineers become more productive
      by teaching them basic lab skills for computing
      like program design, version control, data management, and task automation.
      This two-day hands-on bootcamp will cover basic concepts and tools;
      participants will be encouraged to help one another
      and to apply what they have learned to their own research problems.
    </p>
    <p>
      This workshop is aimed at graduate students, post-docs, and other researchers
      intending to do workshops this summer through <a href="http://bioinformatics.ca/">bioinformatics.ca</a>.
      To register,
      please visit
      <a href="https://bioinformatics.ca/workshops/2014/software-carpentry-scientific-computing-doesn%E2%80%99t-have-hurt-2014">this page</a>
      on the <a href="http://bioinformatics.ca">bioinformatics.ca</a> web site.
    </p>
  </div>
</div>

<h2>Details</h2>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
<strong>Classroom:</strong> Henry Angus Room 434, <a href="http://www.students.ubc.ca/classroomservices/buildings-and-classrooms/?code=ANGU&room=434">room specs</a>, <a href="http://www.maps.ubc.ca/PROD/index_detail.php?locat1=023">Angus building via UBC Wayfinding</a>
</p>

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Syllabus</h2>

<!--
    Create / edit this with help from here:
    http://www.tablesgenerator.com/html_tables
-->

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-0ord{text-align:right}
.tg .tg-e3zv{font-weight:bold}
.tg .tg-07dj{font-weight:bold;font-size:14px}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e"></th>
    <th class="tg-031e">Monday May 12</th>
    <th class="tg-031e">Tuesday May 13</th>
  </tr>
  <tr>
    <td class="tg-0ord">8:30 - 9:00 am</td>
    <td class="tg-031e">light breakfast available</td>
    <td class="tg-031e">light breakfast available</td>
  </tr>
  <tr>
    <td class="tg-0ord">9:00 - 10:15 am</td>
    <td class="tg-e3zv">Basics of the R working environment and language</td>
    <td class="tg-e3zv">The shell, focus on file inspection and manipulation</td>
  </tr>
  <tr>
    <td class="tg-0ord">10:15 - 10:45 am*</td>
    <td class="tg-031e">light refreshments available</td>
    <td class="tg-031e">light refreshments available</td>
  </tr>
  <tr>
    <td class="tg-0ord">10:45 am - 12:00 pm</td>
    <td class="tg-e3zv">Care and feeding of R objects</td>
    <td class="tg-e3zv">Version control, cont'd</td>
  </tr>
  <tr>
    <td class="tg-0ord">12:00 - 1:00 pm *</td>
    <td class="tg-031e">lunch on your own</td>
    <td class="tg-031e">lunch on your own</td>
  </tr>
  <tr>
    <td class="tg-0ord">1:00 - 2:15 pm</td>
    <td class="tg-e3zv">Version control, introduction</td>
    <td class="tg-e3zv">Data aggregation, including plyr</td>
  </tr>
  <tr>
    <td class="tg-0ord">2:15 - 2:45 pm *</td>
    <td class="tg-031e">light refreshments available</td>
    <td class="tg-031e">light refreshments available</td>
  </tr>
  <tr>
    <td class="tg-0ord">2:45 - 4:30 pm</td>
    <td class="tg-e3zv">Making figures with ggplot2</td>
    <td class="tg-07dj">Creating workflows and automated pipelines</td>
  </tr>
  <tr>
    <td class="tg-031e" colspan="3">* times approximate, but there will always be two sessions before lunch and two after</td>
  </tr>
</table>

<hr/>

<h2>Setup</h2>

<p>
  UNDER RE-CONSTRUCTION morning of Wednesday May 7 ... be patient.
</p>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  <em>before</em> the start of your bootcamp.
</p>

<p>
  TL;DR version: make sure you have the Bash shell, Git, R, and RStudio. For detailed instructions, go <a href="{{page.root}}/setup.html">here</a>.
</p>

<hr/>
