<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
      In this specific boot camp, the <a href="http://www.rstudio.com/">RStudio IDE</a> provides a suitable text editor. It is, of course, optimized for writing R code, but will also suffice for other purposes, such as writing a Bash shell script. Below we give standard SWC advice for general purpose text editors, if you wish to install one for the future.
      </p>
    <h4>The Bash Shell</h4>
    <p>
      Bash is a commonly-used shell. Using a shell gives you
      more power to do more tasks more quickly with your
      computer.
    </p>
  </div>
  <div class="span6">
    <h4>Git</h4>
    <p>
      Git is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="https://github.com/">github.com</a>.
    </p>
    <h4>R</h4>
    <p>
      <a href="http://www.r-project.org">R</a> is a programming language that is especially strong for statistical analysis and visualization. To
      interact with R, we will
      use <a href="http://www.rstudio.com/">RStudio</a>, an interactive
      development environment (IDE).
    </p>
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> is a
      popular free code editor for Windows.
      Be aware that you must add its installation directory to your system path
      in order to launch it from the command line
      (or have other tools like Git launch it for you).
      Please ask your instructor to help you do this.
    </p>
    <h4>Git Bash</h4>
    <p>
      Install Git for Windows by downloading and running
      <a href="https://msysgit.googlecode.com/files/Git-1.8.4-preview20130916.exe">the installer</a>.
      This will provide you with both Git and Bash in the Git Bash program.
    </p>
  </div>
</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
  </div>
  <div class="span6">
    <h4>Git</h4>
    <p>
      Install Git for Mac by download and running
      <a href="http://git-scm.com/downloads">the installer</a>.
    </p>
    
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
    <h4>Git</h4>
    <p>
      If Git is not already available on your machine you can try
      to install it via your distro's package manager
      (e.g. <code>apt-get</code>).
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> is one option for Linux users.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
  </div>
  
</div>